@import '@/assets/styles/vars.scss';

$colWidth: 100% / 6;

.items {
	@apply lg:mt-9 md:mt-5 mt-4;

	.gridContainer {
		@apply grid lg:grid-cols-1 md:grid-cols-2 grid-cols-1 lg:text-base text-lg border-2 border-grey;
	}

	.row {
		@apply grid lg:py-0 py-4 lg:space-y-0 md:space-y-3 space-y-2.5 border-grey;
		grid-template-columns:
			calc($colWidth) calc($colWidth) calc($colWidth * 2) calc($colWidth) calc($colWidth);

		@media (max-width: $lg) {
			grid-template-columns: 1fr;
		}

		&:not(:last-child) {
			@apply lg:border-b-2 md:border-b-0 border-b-2;
		}

		&:nth-child(n + 4) {
			@apply lg:border-t-0 md:border-t-2;
		}

		&:nth-child(even) {
			@apply lg:border-r-0 md:border-r-2;
		}

		> * {
			@apply lg:p-3 md:px-4 px-2.5 flex flex-col items-center justify-center;

			&:not(:first-child) {
				@apply lg:border-l-2 border-grey;
			}
		}

		&.headings {
			@apply font-medium text-center leading-none lg:grid hidden;
		}
	}

	.item {
		@media (max-width: $lg) {
			grid-template-columns: repeat(2, 1fr);
		}

		.index {
			@apply absolute left-0 lg:top-0 -top-4 bg-orange text-white lg:text-sm text-lg lg:w-7 lg:h-7 w-10 h-10  flex items-center justify-center z-1;
		}

		.img {
			@apply relative lg:col-span-1 col-span-2;
			a {
				@apply w-full;
				height: rem(113);

				@media (max-width: $lg) {
					height: rem(210);
				}
			}

			img {
				@apply object-cover w-full h-full;
			}
		}

		.main {
			@apply lg:flex grid grid-cols-2 gap-x-2 text-center lg:col-span-1 col-span-2;
			a {
				@apply underline;
			}
		}

		.properties {
			@apply lg:text-center lg:space-y-1.5 flex lg:col-span-1 col-span-2;
		}

		.property {
			@apply lg:text-base text-lg flex-col h-full lg:justify-center justify-start;
		}

		.count {
			@apply flex-row gap-x-3;

			.remove,
			.add {
				@apply rounded-md w-8 h-8 text-lg flex items-center justify-center border-2 border-grey transition-colors hover:border-orange hover:bg-orange hover:text-white;
			}
		}

		.price,
		.sum {
			> div:first-child {
				@apply lg:hidden block;
			}
		}

		.sum {
			@apply lg:col-span-1 col-span-2;

			.sumValue {
				@apply font-bold;
			}
		}
	}

	.total {
		@apply md:text-base text-lg md:p-0 p-2 flex md:flex-nowrap flex-wrap border-2 border-grey border-t-0;

		.totalText {
			@apply md:text-right text-center border-r-2 border-grey md:px-3 md:py-2;
			flex: 0 0 calc(100% - $colWidth + 2px);

			@media (max-width: $lg) {
				flex: 0 0 50%;
			}

			@media(max-width: $md) {
				@apply border-r-0;
				flex: 0 0 100%;
			}
		}

		.totalSum {
			@apply lg:font-bold lg:text-center md:text-left text-center md:px-3 md:py-2;
			flex: 0 0 16.875%;

			@media (max-width: $lg) {
				flex: 0 0 50%;
			}

			@media(max-width: $md) {
				flex: 0 0 100%;
			}
		}
	}

	.btn {
		@apply lg:mt-2 mt-3 flex lg:justify-start justify-center;

		> a {
			@apply btn-primary rounded-none py-2 px-4 md:w-auto w-full;
		}
	}
}
