@import '@/assets/styles/vars.scss';

.root {
	@apply md:space-y-6 space-y-4;

	.slider {
		@apply lg:col-span-3 col-span-5 lg:row-start-auto row-start-1 space-y-5 transition-opacity opacity-0;
	
		&.loaded {
			@apply opacity-100;
		}
	
		.outer {
			@apply relative;
		}
	
		.mainSlider {
			height: rem(452);
	
			@media(max-width: $md) {
				height: rem(320);
			}
		}
	
		.thumbSlider {
			height: rem(134);

			@media(max-width: $md) {
				height: rem(113);
			}
		}
	
		.image {
			@apply object-cover w-full h-full;
		}
	
		.arrows {
			@apply absolute bottom-3 right-3 z-1 flex md:gap-x-2 gap-x-3;
		}
	
		.thumbs {
			@apply cursor-pointer;
		}
	}

	.main {
		@apply space-y-4;

		.mainFlex {
			@apply flex items-start justify-between gap-x-5 gap-y-1 lg:flex-nowrap flex-wrap;
		}

		.content {
			@apply flex-grow;
		}

		.top {
			@apply md:flex flex-wrap items-center gap-x-4;
		}

		.title {
			@apply md:text-[1.75rem];
		}

		.price {
			@apply font-bold text-orange;
			font-size: rem(27);

			@media (max-width: $md) {
				font-size: rem(22);
			}
		}

		.available {
			@apply flex items-center gap-x-2 btn-primary py-1.5 px-3 md:text-lg text-sm sm:whitespace-nowrap;
		}

		.variants {
			@apply md:text-lg flex items-center gap-x-2 flex-wrap pt-4 border-t-2 border-[#f2f2f2];

			> ul {
				@apply flex items-center flex-wrap gap-x-2;

				a {
					@apply text-orange hover:underline;
				}
			}
		}
	}

	.additional {
		@apply md:space-y-1;
	}

	.gallery {
		@apply md:space-y-2.5 space-y-1.5;

		.galleryItems {
			@apply grid lg:gap-x-4 gap-x-3 gap-y-3;
			grid-template-columns: repeat(auto-fit, minmax(rem(220), 1fr));

			> a {
				> img {
					@apply object-cover w-full h-full;
				}
			}
		}
	}
}
